In [1]:
# Core
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    f1_score, roc_auc_score, confusion_matrix, RocCurveDisplay
)

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier

# Reproducibility
SEED = 42
np.random.seed(SEED)

In [2]:
df = pd.read_csv("titanic_augmented.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,is_alone,ticket_group_size,fare_per_person,age_fare_ratio,cabin_deck,cabin_room_number,booking_reference,service_id,cabin_score,name_word_count
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,0,1,7.250,3.034483,Unknown,NaN,92490,221958,6.134152,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,0,1,71.283,0.533084,C,85.0,15655423,771155,4.182430,7
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,1,7.925,3.280757,Unknown,NaN,90218500,231932,9.327285,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,0,2,26.550,0.659134,C,123.0,2493079,465838,8.660639,7
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,1,8.050,4.347826,Unknown,NaN,59517148,359178,0.452187,4

In [3]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PassengerId        891 non-null    int64
 1   Survived           891 non-null    int64
 2   Pclass             891 non-null    int64
 3   Name               891 non-null    object
 4   Sex                891 non-null    object
 5   Age                714 non-null    float64
 6   SibSp              891 non-null    int64
 7   Parch              891 non-null    int64
 8   Ticket             891 non-null    object
 9   Fare               891 non-null    float64
 10  Cabin              204 non-null    object
 11  Embarked           889 non-null    object
 12  name_length        891 non-null    int64
 13  title              891 non-null    object
 14  title_group        891 non-null    object
 15  family_size        891 non-null    int64
 16  is_alone           891 non-null    int64
 17  ticket_group_size  891 non-null    int64
 18  fare_per_person    891 non-null    float64
 19  age_fare_ratio     891 non-null    float64
 20  cabin_deck         891 non-null    object
 21  cabin_room_number  200 non-null    float64
 22  booking_reference  891 non-null    int64
 23  service_id         891 non-null    int64
 24  cabin_score        891 non-null    float64
 25  name_word_count    891 non-null    int64
dtypes: float64(6), int64(12), object(8)
memory usage: 181.1+ KB

PassengerId            0
Survived               0
Pclass                 0
Name                   0
Sex                    0
Age                  177
SibSp                  0
Parch                  0
Ticket                 0
Fare                   0
Cabin                687
Embarked               2
name_length            0
title                  0
title_group            0
family_size            0
is_alone               0
ticket_group_size      0
fare_per_person        0
age_fare_ratio         0
cabin_deck             0
cabin_room_number    691
booking_reference      0
service_id             0
cabin_score            0
name_word_count        0
dtype: int64

In [4]:
#feature selection
TARGET = "Survived"

drop_cols = [
    "PassengerId",
    "Name",
    "Ticket",
    "Cabin",
    "booking_reference",
    "service_id"
]

X = df.drop(columns=[TARGET] + drop_cols)
y = df[TARGET]

X.shape, y.shape

((891, 19), (891,))

In [5]:
#data splitting
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.25,
    stratify=y,
    random_state=SEED
)

print("Train size:", X_train.shape)
print("Test size:", X_test.shape)
print("Train survival rate:", y_train.mean())
print("Test survival rate:", y_test.mean())

Train size: (668, 19)
Test size: (223, 19)
Train survival rate: 0.38323353293413176
Test survival rate: 0.38565022421524664

In [6]:
#feature typing
num_features = X_train.select_dtypes(include=["int64", "float64"]).columns.tolist()
cat_features = X_train.select_dtypes(include=["object"]).columns.tolist()

print("Numeric features:", num_features)
print("Categorical features:", cat_features)

Numeric features: ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'name_length', 'family_size', 'is_alone', 'ticket_group_size', 'fare_per_person', 'age_fare_ratio', 'cabin_room_number', 'cabin_score', 'name_word_count']
Categorical features: ['Sex', 'Embarked', 'title', 'title_group', 'cabin_deck']

In [17]:
#data preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, num_features),
        ("cat", categorical_transformer, cat_features),
    ],
    remainder="drop"
)

preprocess_scaled = preprocessor

In [18]:
# --- No-scale preprocessor for tree-based models (RF/DT) ---

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

numeric_noscale = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median"))
])

preprocess_noscale = ColumnTransformer(
    transformers=[
        ("num", numeric_noscale, num_features),
        ("cat", categorical_transformer, cat_features),  # <- use your existing transformer
    ],
    remainder="drop"
)

In [8]:
from sklearn.model_selection import StratifiedKFold

cv = StratifiedKFold(
    n_splits=5,
    shuffle=True,
    random_state=42
)

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, roc_auc_score, log_loss
import numpy as np

def _proba_or_none(model, X):
    if hasattr(model, "predict_proba"):
        return model.predict_proba(X)[:, 1]
    return None

def fit_tune_evaluate(
    model_name,
    clf,
    preprocess,
    param_grid,
    X_train,
    y_train,
    X_test,
    y_test,
    scoring="accuracy"
):
    pipe = Pipeline([
        ("preprocess", preprocess),
        ("clf", clf)
    ])

    grid = GridSearchCV(
        pipe,
        param_grid=param_grid,
        scoring=scoring,
        cv=cv,
        n_jobs=-1,
        refit=True
    )
    grid.fit(X_train, y_train)

    best_model = grid.best_estimator_

    y_pred = best_model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)

    y_proba = _proba_or_none(best_model, X_test)
    auc = roc_auc_score(y_test, y_proba) if y_proba is not None else np.nan
    ll  = log_loss(y_test, y_proba) if y_proba is not None else np.nan

    try:
        n_features = len(
            best_model.named_steps["preprocess"].get_feature_names_out()
        )
    except:
        n_features = np.nan

    return {
        "model": model_name,
        "best_params": grid.best_params_,
        "cv_best_score": grid.best_score_,
        "test_accuracy": acc,
        "test_auc": auc,
        "test_logloss": ll,
        "n_features": n_features,
        "estimator": best_model
    }

In [10]:
results = []

### Model A：Logistic Regression（using scaled preprocess）

In [19]:
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression(max_iter=2000, random_state=SEED)

log_param_grid = {
    "clf__C": [0.01, 0.1, 1, 10],
    "clf__penalty": ["l2"],
    "clf__solver": ["lbfgs"]
}

log_result = fit_tune_evaluate(
    model_name="LogisticRegression",
    clf=log_clf,
    preprocess=preprocess_scaled,
    param_grid=log_param_grid,
    X_train=X_train,
    y_train=y_train,
    X_test=X_test,
    y_test=y_test,
    scoring="accuracy"
)

results.append(log_result)
log_result["best_params"], log_result["cv_best_score"], log_result["test_accuracy"]

({'clf__C': 1, 'clf__penalty': 'l2', 'clf__solver': 'lbfgs'},
 np.float64(0.8322971608124791),
 0.8251121076233184)

### Model B：KNN

In [21]:
from sklearn.neighbors import KNeighborsClassifier

knn_clf = KNeighborsClassifier()

knn_param_grid = {
    "clf__n_neighbors": [3, 5, 7, 9, 11, 15],
    "clf__weights": ["uniform", "distance"],
    "clf__p": [1, 2]
}

knn_result = fit_tune_evaluate(
    model_name="KNN",
    clf=knn_clf,
    preprocess=preprocess_scaled,
    param_grid=knn_param_grid,
    X_train=X_train,
    y_train=y_train,
    X_test=X_test,
    y_test=y_test,
    scoring="accuracy"
)

results.append(knn_result)
knn_result["best_params"], knn_result["cv_best_score"], knn_result["test_accuracy"]

({'clf__n_neighbors': 15, 'clf__p': 1, 'clf__weights': 'distance'},
 np.float64(0.8263045673886209),
 0.820627802690583)

### Model C：Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(
    random_state=SEED,
    n_jobs=-1
)

rf_param_grid = {
    "clf__n_estimators": [200, 400],
    "clf__max_depth": [None, 6, 10],
    "clf__min_samples_leaf": [1, 2, 4]
}

rf_result = fit_tune_evaluate(
    model_name="RandomForest",
    clf=rf_clf,
    preprocess=preprocess_noscale,
    param_grid=rf_param_grid,
    X_train=X_train,
    y_train=y_train,
    X_test=X_test,
    y_test=y_test,
    scoring="accuracy"
)

results.append(rf_result)
rf_result["best_params"], rf_result["cv_best_score"], rf_result["test_accuracy"]

({'clf__max_depth': None,
  'clf__min_samples_leaf': 2,
  'clf__n_estimators': 400},
 np.float64(0.8337896981259117),
 0.8071748878923767)

## Comparison

In [24]:
import pandas as pd

results_df = pd.DataFrame([{
    "model": r["model"],
    "cv_score": r["cv_best_score"],
    "test_acc": r["test_accuracy"],
    "test_auc": r["test_auc"],
    "n_features": r["n_features"],
    "best_params": r["best_params"]
} for r in results])

results_df.sort_values("test_acc", ascending=False)

,model,cv_score,test_acc,test_auc,n_features,best_params
0,LogisticRegression,0.832297,0.825112,0.854354,46,"{'clf__C': 1, 'clf__penalty': 'l2', 'clf__solv..."
1,KNN,0.826305,0.820628,0.849516,46,"{'clf__n_neighbors': 15, 'clf__p': 1, 'clf__we..."
2,KNN,0.826305,0.820628,0.849516,46,"{'clf__n_neighbors': 15, 'clf__p': 1, 'clf__we..."
3,RandomForest,0.833790,0.807175,0.859616,46,"{'clf__max_depth': None, 'clf__min_samples_lea..."